<%- include('header') %>
    <h2>
        Admin:
        <a href="/admin/vagas/nova">New vaga</a>
    </h2>
    <div>
        <ul>
            <li><a href="/admin/categorias">Gerenciar categoria</a></li>
            <li><a href="/admin/vagas">Gerenciar vagas</a></li>
        </ul>
    </div>
<%- include('footer') %>
